/* 活动总览样式*/
.activity-view-reasult{
	margin:0px 20px 7px 20px;
	padding:20px 0px 0px 0px;
	border-bottom:1px solid #f1f1f1;
	>ul{
		li{
			font-size:0px;
			float:left;
			height:101px;
			width:259px;
			margin: 0px 11px 20px 8px;
			background:#F1F1F1 url(../../assets/imgs/page-3.png) no-repeat center center;
			position: relative;
			span{
				float:left;
				width: 129px;
				text-align:center;
				&.title{
					line-height: 18px;
					margin-top:36px;
					font-size:14px;
					font-weight: bold;
					em{
						font-size: 12px;
						font-weight: normal;
						color:#868686;
					}
				}
				&.number{
					font-size: 30px;
					line-height:101px;
					color:#F0534D;
				}
			}
			a {
				width: 32px;
			    height: 20px;
			    line-height: 20px;
			    position: absolute;
			    top: 68px;
			    right: 50px;
			    font-size: 12px;
			    color: #868686;
			    text-align: center;    
			}
		}
	}
}
.set-time{
	padding:20px 0px 0px 20px;
	select{
		margin-left:17px;
		width: 250px;
		height: 28px;
		line-height: 28px;
		border:1px solid #cccccc;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1) inset;
		border-radius:3px;
	}
}

 .public-table-area{
 	&.activityView{
	 	table{
	 		tr{
	 			td{
	 				&.pingwei{
	 					width: 51px;
	 					span{
	 						display: inline-block;
	 						line-height: 16px;
	 						vertical-align: middle;
	 					}
	 				}
	 				&.case-number{
	 					width:195px;
	 					div{
	 						width:195px;
	 					}
	 				}
	 				&.court-number{
	 					width:164px;
	 					div{
	 						width: 164px;
	 					}
	 				}
	 				&.pingfeng{
	 					width: 90px;
	 					color: #f0534d;
	 					font-size: 14px;
	 				}
	 				&.case-name{
	 					width: 127px;
	 					div{
	 						width:127px;
	 						margin-right:5px;
	 					}
	 				}
	 			}
	 		}
	 	}
 	}
 }