@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1470309485_9599285.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1470309485_9599285.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1470309485_9599285.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1470309485_9599285.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1470309485_9599285.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mao:before { content: "\e697"; }
.icon-dianhua:before { content: "\e636"; }
.icon-e:before { content: "\e602"; }
.icon-youxiang:before { content: "\e640"; }
.icon-wuzhifeng:before { content: "\e603"; }
.icon-pc:before { content: "\e604"; }
.icon-tong:before { content: "\e605"; }
.icon-94:before { content: "\e607"; }
.icon-baidu:before { content: "\e676"; }
.icon-shouji:before { content: "\e608"; }
.icon-xiaolian1:before { content: "\e623"; }
.icon-apple:before { content: "\e634"; }
.icon-dizhi:before { content: "\e637"; }
.icon-tianmaobao:before { content: "\e60a"; }
.icon-xiaolian:before { content: "\e60c"; }
.icon-weilaibang:before { content: "\e60e"; }
.icon-gouwuche:before { content: "\e611"; }
.icon-news:before { content: "\e615"; }
.icon-nianling:before { content: "\e638"; }
.icon-53195:before { content: "\e617"; }
.icon-jingdong-copy:before { content: "\e628"; }
.icon-lvyou:before { content: "\e619"; }
.icon-shoucang:before { content: "\e61a"; }
.icon-zuopinji:before { content: "\e61c"; }
.icon-huaban:before { content: "\e612"; }
.icon-tai:before { content: "\e61e"; }
.icon-caidanxiala:before { content: "\e622"; }
.icon-iconfontwangyi:before { content: "\e609"; }
.icon-shexiao:before { content: "\e625"; }
.icon-work-copy:before { content: "\e626"; }
.icon-suningyigou:before { content: "\e62d"; }
.icon-daibanshixiang:before { content: "\e62e"; }
.icon-dianshang:before { content: "\e631"; }
.icon-xingguang:before { content: "\e600"; }
.icon-yuqing:before { content: "\e633"; }
