
@mixin border ($bwidth,$bColor) {
    -webkit-border:$bwidth  solid  $bColor;     
       -moz-border:$bwidth  solid  $bColor;
            border:$bwidth  solid  $bColor;
}
@mixin border-radius ($bwidth) {
    -webkit-border-radius:$bwidth;     
       -moz-border-radius:$bwidth;
            border-radius:$bwidth;
}
@mixin box-shadow($x,$y,$m,$mcolor,$pos){
	    -webkit-box-shadow: $x $y $m $mcolor $pos;
	       -moz-box-shadow: $x $y $m $mcolor $pos;
				box-shadow: $x $y $m $mcolor $pos;   
}
.extend_title {
	height: 41px;
	font-weight: bold;
	line-height: 41px;
	border-bottom: 1px solid #f1f1f1;
	text-indent: 15px;
	.goback{
		float:right;
		color:#f0534d;
		margin-right:10px;
	}
}


.content_case {
	width: 1000px;
	background-color: #fff;
	margin:0 auto;
	padding-bottom: 30px;
	border-bottom: 1px solid #f1f1f1;
	.title {
		@extend .extend_title;
	}
	.content_top {
		border-bottom: 1px solid #f1f1f1;
	}
	.content_left {
		width: 604px;
		border-right: 1px solid #f1f1f1;
		padding:15px;
		padding-top: 0px;
		float: left;
		.info_span, .base_span {
			@extend .extend_title;
			font-weight: normal !important;
			text-indent: 0px !important;
			border:none !important;
		}
		.vedio {
			width: 100%;
			height: 340px;
			background-color: #f4f4f4;
		}

		.case_info  {
			border-left: 3px solid #f1f1f1;
			p {
				height: 30px;
				line-height: 30px;
				
				span.prev{
					width: 75px;
					color: #868686;
					text-align: right;
					margin-right: 15px;
					display: inline-block;
					vertical-align: top;
				}
				span.next {
					width: 500px;
					display: inline-block;
				}
			}
		}
		.all {
			width: 585px;
			@include border(1px,#dfdfdf);
			@include border-radius(3px);
			text-align: center;
			line-height: 25px;
			margin-left: 20px; 
			margin-top:15px;
			cursor:pointer;
			display: inline-block;
		}	
	} 
	.content_comment {
		.title {
			@extend .extend_title;
			font-weight: normal !important;
			border:none !important;

		}
		textarea {
			width: 963px;
			height: 170px;
			margin: 0 15px;
			padding-left: 5px;
    		padding-top: 15px;
			resize: none;
			@include border(1px,#cccccc); 
		    @include border-radius(2px);
		    @include box-shadow(0,2px,0,#f1f1f1,inset);
		} 
		.text{
			height: 42px;
			line-height: 42px;
			margin: 0 15px;
			width: 970px;
			color: #868686;
			span {
				color: #f0534d;
			} 
		}
		.btn {
			width: 100%;
			text-align: center;
		}
	   input {
			width: 88px;
			height: 28px;
			text-align: center;
			line-height: 30px;
	    	@include border-radius(3px);
	    	display: inline-block;
	    	margin: 0 auto;
	    	cursor: pointer;
		}
		input[name="draft"] {
			color: #868686;
			margin-right: 30px;
			background-color: #fff;
			@include border(1px,#f4f4f4);
		}		
		input[name="confirm"] {
			color: #fff;
			background-color: #f0534d;
		}

		.other_conment {
			width: 900px;
			margin:0 50px;
			.person_info {
				width: 100%;
				height: 60px;
				.avatar {
					width: 60px;
					height: 60px;
					border-radius: 50%;
					margin-right: 10px;
					overflow: hidden;
					float: left;
					img {
						width: 60px;
						height: 60px;
						border:0;
						display: block;
					}
				}
				.person_infornation {
					height: 60px;
					float: right;
					p {
						width:800px;
						height: 30px;
						line-height:30px;
						.job {
							color:#868686;
							font-size: 12px;
							padding:0 10px;
						}
						.publish_date {
							color:#868686;
							font: 12px Arial;
						}
					}
				}
			}
			.remark_content {
				width: 100%;
				margin-top: 10px;
				line-height: 25px;
			}
		}
	}

	.content_right {
		width: 335px;
		height: 601px;
		padding: 0 15px;
		float: right;
		.title {
			@extend .extend_title;
			border:none;
			font-weight: normal;
			.mark{
			    width: 65px;
			    height: 40px;
			    float: right;
			    span {
			    	color: #f0534d;
			    }
			}
			.markL{
			    width: 83px;
			    height: 40px;
			    float: left;
			    text-indent: 0px;
			}

		}
		.content_score {
			width: 333px;
			height: 540px;
			@include border(1px,#dfdfdf);

		}
		.score_tit {

			width: 310px;
			height: 43px;
			line-height: 43px;
			margin-top: 10px;
			margin-left: 10px;
			cursor: pointer;
			position: relative;
			@include border(1px,#dfdfdf);
			
			.socre_div {
				width: 114px;
				height: 43px;
				line-height: 43px;
				display: inline-block;
			}
			.no_score {
    			height: 43px;
    			line-height: 43px;
				font-size: 14px;
				color: #fff; 
				margin-left: 20px;
			}
			span.big{
				width: 30px;
			    display: inline-block;
			    text-align: right;
				color: #fff;
				font-size: 18px;
				padding-left: 10px;
			} 
			span.small {
				color: #fff;
				font-size: 12px;
				padding-right: 45px;
			}
			span.ready {
				width: 155px;
				height: 43px;
				display: inline-block;
				line-height: 43px;
				vertical-align: top;
				text-indent: 15px;
				position: relative;
			}
			span.color86 {
				color: #868686;
				font-size: 12px;
				padding-left: 5px;
				letter-spacing: 2px;
			} 

			.prevent {
				width: 40px;
			    height: 43px;
			    line-height: 43px;
			    display: inline-block;
			    vertical-align: top;
			}
			i.icon_Trigle {
				width: 12px;
				height: 8px;
				margin-left: 14px !important;
				display: inline-block;
				vertical-align: middle;
				position: absolute;
			    top: 20px;
			    right: 15px;

			}
			i.icon_down {	
				background: url('../../imgs/icon_down.png') no-repeat;
			}
			i.icon_up {	
				background: url('../../imgs/icon_up.png') no-repeat;
			}
		}
		.bg_red {
			background: url('../../imgs/bg_red.png') no-repeat;
		}
		.bg_gray {
			background: url('../../imgs/bg_gray.png') no-repeat;
		}
		.score_list  {
			margin-left: 10px;
			li{
				width: 300px;
				margin-top: 10px;
				padding-left: 10px;
				margin-bottom: 2px;
				border-bottom: 1px solid #f1f1f1;
				div.decsdiv{
					width: 100%;
					height: 61px;
					line-height: 61px;
					position: relative;
					p.title_p {
						width: 175px;
						height: 20px;
					    line-height: 20px;
					}
					p.level {
						position: absolute;
					    top: 2px;
					    right: 2px;
					    height: 20px;
					    line-height: 20px;
						.line {
						    display: inline-block;
						    height: 12px;
						    background-color: #f1f1f1;
						    width: 1px;
						    vertical-align: -1px;
						    margin: 0 5px 0 3px;
						}
					}
					
					.High {
						color: #be4242;
					}	
					.Low {
						color: #c1c1c1;
					}
				}
				.score_cause {
					padding: 5px 15px;
					margin-bottom: 5px;
					background-color: #f1f1f1;	
					span {
						color: #c1c1c1;
					}
				}
			}
		}

		.score_item {
			width: 300px;
			margin-top: 10px;
			margin-left: 10px;
			padding-left: 10px;
			height: 145px;
			background-color: #f1f1f1;
			p {
				height: 30px;
				line-height: 30px;
			}
			a {
				display: inline-block;
				width:90px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				@include border(1px,#dfdfdf);
				@include border-radius(3px);
				margin-right: 5px;
				background-color: #fff;
			}
			.on {
				border-color: #f0534d;
			}
		}
	}
}




