/*案件管理栏目*/
/* 参评案件管理 */
.rating-case-manage{
	.search-party{
		padding:20px 0px 20px 20px;
		.search-area{
			@extend .public-search-area;
		}
	}
}
.public-table-area{
	&.ratingCaseManage{
		padding-top:0px;
		tr{
			td{
				&.case-name{
					width: 135px;
					div{
						width:135px;
					}
				}
				&.control{
					width: 155px;
					span{
						margin:0px 5px;
					}
				}
			}
		}

	}
}

/*案件设置*/
.case-set{
	padding-bottom:130px;
	.content{
		padding:20px 0px 0px 20px;
		.block{
			padding-left:65px;
			min-height: 30px;
			margin-bottom: 15px;
			.name{
				margin-left: -65px;
				width: 56px;
				text-align:left;
				float:left;
				line-height:30px;
				em{
					color: #ff0000;
				}
			}
			.case-set-button,.case-set-upload{
				@extend .public-button2;
				height: 28px;
				line-height: 28px;
				cursor:pointer;
			}
			.wd{
				display: inline-block;
				width:56px;
				line-height: 30px;
				text-align: center;
			}
			.case-set-upload{
				margin-left:-65px;
				opacity: 0;
  				filter: alpha(opacity=0);
			}
			.case-name{
				height: 30px;
				line-height: 30px;
				background-color:#f8f8f8;
				margin-top:10px;
				padding-left:10px;
				width: 660px;
				em{
					color: #be4242;
					cursor:pointer;
				}
			}
			.case-set-time{
				cursor: pointer;
				float: left;
				width:92px;
				text-indent:10px;
				height:28px;
				line-height: 28px;
				padding:0px 23px 0px 0px;
				border:1px solid #e5e5e5;
				@include border-radius(3px);
				box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1) inset;
				background:url(../../assets/imgs/time-ico.png) no-repeat 93px center; 
			}
		}
	}
	.right-button-area{
		text-align:center;
		margin-top: 25px;
		.submit-button{
			@extend .public-button4;
		}
		
	}
}