/* 修改密码 */
.add-announce{width:740px;margin:0 auto;padding-bottom:240px}
.add-announce p{margin-top:20px;font-size:12px;color:#313131;line-height:30px}
.add-announce p span{float:left;width:64px}
.add-announce p input,.add-announce p textarea{color:#868686;float:left;line-height:28px;padding-left:10px;border-radius:3px;border:1px solid #ccc;font-family:"Microsoft YaHei"}
.add-announce p input{width:674px;height:30px}
.add-announce p textarea{width:675px;height:70px;line-height:22px;padding-top:4px}
.add-announce .announce-btn{width:80px;height:30px;border-radius:3px;color:#fff;background-color:#de5d5d;border:0;margin:25px 0 0 320px;font-family:"Microsoft YaHei";cursor:pointer}
.modify-pwd{height:412px;width:815px}
.modify-pwd form{margin-left:240px;padding-top:50px}
.modify-pwd form p{margin:0 0 15px}
.modify-pwd form p span{width:56px;float:left;text-align:right;margin-right:15px}
.modify-pwd form p input{width:200px;height:30px;line-height:28px;float:left;color:#313131;border-radius:3px;border:1px solid #ccc}
.modify-pwd form p label{float:left;background:url(../images/notice-ico-blue.png) no-repeat left center;padding-left:20px;line-height:30px;margin-left:15px;display:none}
.modify-pwd form .input-sub{width:80px;height:30px;display:block;border:0;background-color:#de5d5d;color:#fff;font-family:"Microsoft YaHei";margin-top:40px;margin-left:90px;border-radius:3px;cursor:pointer;outline:0}

//初始化-密码设置
.password{
  width: 1000px;
  height: 455px;
  background-color: #ffffff;
  margin:20px auto 0; 
  h2{
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #f1f1f1;
    font-weight: normal;
    color:#313131;
    padding-left: 16px;
  }
  h3{
    height: 30px;
    line-height: 30px;
    width: 960px;
    margin: 15px auto 40px;
    border: 1px solid #f4f4f4;
    text-align: center;
    background:#f8f8f8 url(../images/notice-ico-blue.png) 357px center no-repeat;
    color:#868686;
    font-weight: normal;

  }
  form{
    margin-left: 360px;
    font-size: 12px;
    p{
      margin: 0 0 15px 0;
      span{
        width: 56px;
        float: left;
        text-align: right;
        margin-right: 15px;
        line-height: 30px;

        color: #313131;
        
      }
      input{
        width: 200px;
        height: 30px;
        line-height: 28px;
        float: left;
        color: #313131;
        @include border-radius(3px);
        border: 1px solid #cccccc;
        padding-left:10px;

      }
      label{
        float: left;
        background: url(../images/notice-ico-blue.png) no-repeat left center;
        padding-left: 20px;
        
        line-height: 30px;
        margin-left: 15px; 
        display: none;
      }

    }
    .input-sub{
      width: 80px;
      height: 30px;
      display:block;
      border: none;
      background-color: #de5d5d;
      color: #ffffff;
      margin-top: 40px;
      margin-left: 90px;
      @include border-radius(3px);
      cursor: pointer;
      outline: none;
      font-size: 14px;

    }
  }
}