*{
  margin: 0;
  padding: 0;
  list-style: none;
  /*box-sizing:inherit;*/
}
/** 清除内外边距 **/
h1, h2, h3, h4, h5, h6
{
  font-weight: normal;
}
em,i{
	font-style: normal;
}
a{
	text-decoration: none;
    color: #313131;
}
/** 设置默认字体 **/
body
{
  background-color:#f1f1f1;
  font-family:'Microsoft YaHei',"\5FAE\x8F6F\6B63\9ED1\4F53 ","华文黑体",STHeiti,"思源黑体","Noto Sans CJK SC","方正黑体","宋体",SimSun,regular,"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","\5b8b\4f53",'Hiragino Sans GB',tahoma,helvetica,arial;
  color: #313131;
  font-size: 12px;
}
input ,textarea{
    font-family:Arial,'Microsoft YaHei',"\5FAE\x8F6F\6B63\9ED1\4F53 ","华文黑体",STHeiti,"思源黑体","Noto Sans CJK SC","方正黑体","宋体",SimSun,regular,"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","\5b8b\4f53",'Hiragino Sans GB',tahoma,helvetica;
    outline:none; 
    border:none; 
}
input:focus{
  outline: none;
}
select:focus{
  outline:none;
}
.clearfix{*zoom:1;}
.clearfix:after{display:table; content:''; clear:both;}
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}